.sectionMain {
    display: flex;
    

    width:66.6%;
    flex-direction: column;
  }
  
  .sectionCard {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .sectionCard h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .sectionCard p {
    margin: 5px 0;
  }
  
  .sectionCard h3 {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .sectionCard hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
  }
  
  .sectionCard strong {
    font-weight: bold;
  }
  
  .premium-detailsParent {
    background-color: #f0f8ff;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
  }
  
  .premium-detailsChild p {
    margin: 5px 0;
  }
  
  .excess-detailsParent {
    background-color: #f0f8ff;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
  }
  
  .excess-detailsChild p {
    margin: 5px 0;
  }
  
  .sectionCard-subsection{
    background-color: lightblue;
    width: 100%;
  }