
.user-icon{
    font-size: 150px;
    margin-top: 40px;
    margin-left: 80px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: white
}

.client-card{
    border: 1px solid rgb(13, 11, 101);
    width: 700px;
    height: 600px;
    margin-left: 250px;
    margin-top: 75px;
}    

.sub-client{
    margin-top: 100px;
    margin-left: 80px;
    display: block;
    font-size: large;
    justify-content:start;
}