.client{
    border: 1px solid blue;
    width: 80%;
    height: 70%;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(83, 138, 202);
    color: white;
    margin-left: 5%;
    margin-top: 10%;

}

.client-heading{
    background-color: rgb(192, 192, 192);
    color: rgb(0, 0, 0);
    text-align: center;
}

.sub-client{
    margin:15px;
    display: inline-flex;
    justify-content: space-between;
}

.client:hover{
    transition: ease-in-out;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: rgb(94, 94, 129);
    color: rgb(251, 251, 251);
}