.client{
    border: 1px solid rgb(13, 11, 101);
    width: 30%;
    height: 70%;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(12, 22, 122);
    margin-left: 30%;

    margin-top: 10%;
    justify-self: center;

}

.client-heading{
    background-color: rgb(192, 192, 192);
    color: rgb(0, 0, 0);
    text-align: center;
}

.sub-client{
    margin:15px;
    display: block;
    font-size: large;
    justify-content:start;
}

.client:hover{
    transition: ease-in-out;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: rgb(105, 105, 234);
    color: rgb(251, 251, 251);
}