 .btnContinue{
    margin-top: 50px;
    margin-left: 200px;
    background-color: #154FBF;
    border-radius: 0px;
    font-size: larger;
    color: white;
  
  } 
  
  .textbox{
    width: 300px;
    border: none;
    outline: none;
    border-bottom: .1em solid rgb(166, 161, 161);
    border-radius: .2em .2em 0 0;
    height: 30px;
   
  
  }

  
   .login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; border-left: 70px solid #2869E8; 
    border-top-width: 100px;
    background-color: #E1E1E1;
     width: 400px; 
    height: 400px;
    margin-left: 35%;
    margin-top: 15%;
  }
  
  .login-container {
    width: 300px;
    height: auto;
  }

  .sign{
    width: 50%;
  }