.app-container {
display: flex;
flex-direction: row;
height: 100%;
background-color: #ffffff;
}

.carousel{
 background-color: #ebdfdf; 
}

.main-content {
  height: 100%;
  margin-right: auto;
  background: linear-gradient(315deg, 
  rgb(255, 255, 255) 0%,          /* Black */
  rgb(79, 79, 255) 30%,        /* Dark Blue */
  rgb(202, 202, 202) 60%,       /* Navy */
  rgb(160, 149, 229) 100%         /* Black */
);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}

.right-sidebar {

flex: 0 0 250px;

padding: 20px;

background: linear-gradient(315deg, 
  rgb(255, 255, 255) 0%,          /* Black */
  rgb(79, 79, 255) 30%,        /* Dark Blue */
  rgb(202, 202, 202) 60%,       /* Navy */
  rgb(160, 149, 229) 100%         /* Black */
);
animation: gradient 15s ease infinite;
background-size: 400% 400%;
background-attachment: fixed;
}

.filter {
  max-height: 300px;
  overflow: auto; 
  }
.card {
    border: 3px solid black;
    border-radius: 4px;
    width: 96.5%;
    padding: 10px;
    margin: 10px;
    position: relative;
    background-color: white;
  }

.card-content{
  width: 100%;
}

  
  .text-container{
  display:flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}
 
  /* .top-left {
    position: absolute;
    top: 40px;
    left: 16px;
    font-size: 50px;
    color: #154FBF;
  }
   */
  .icon{
    font-size: 30px;
  }
  /* .top {
    position: absolute;
    top: 30px;
    left: 16px;
    font-size: 24px;
  }
   */
  .policy-img {
    width: 100%;
    height: 10px;
    border-radius: 4px;
  }

  .cards-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
    transition: transform 0.3s ease;
  }
  

.text-container{
display:flex;
justify-content: space-between;
}

.card:hover{

}

.top-left {
position: absolute;
top: 10px;
left: 16px;
font-size: 50px;
color: #154FBF;
}

.top {
position: absolute;
top: 70px;
left: 16px;
font-size: 24px;
}

.card-content {
position: relative;
}

.policy-img {
width: 100%;
height: 10px;
border-radius: 4px;
}

.cards-container{
margin-left: 5%;
display: flex;
transition: transform 0.3s ease;

}


.cheading{
font-size: larger;
}

.carousel {
  border-right-color: #0c3b98;
  border-right-width: 10px;
  background-color: #e4ecfe;

}

button{
  background-color:#ffffff;
  color: rgb(2, 17, 127);
  border: none;
  border-radius: 10px;
  align-items: center;
  height: fit-content;
  flex-shrink: 0;
  display:block;
  padding: 10px;
  margin: 10px ;
  border-top-width: 10px;
  width:fit-content;
}

.broker-contact-card,
button{
  box-shadow: 0 8px 20px 0px #7aa6e4;
}

.cover-layout{
display: grid;
grid-template-columns: repeat(4, 1fr); /* 4 columns */
grid-auto-rows: auto; /* Automatic row sizing based on content */
grid-gap: 10px; /* Adjust the gap between items */
max-width: 100%; /* Ensure the container fits its parent */
margin: 0 auto; 
}


.cover-layout:hover .carousel {
  filter: blur(3px);
  opacity: .5;
  transform: scale(.98);
  box-shadow: none;
}
  
.cover-layout:hover .carousel:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  color: rgb(0, 0, 0);
}

.broker-contact-card {
background-color: #f9f9f9;
padding: 15px;
border-radius: 5px;
}


.policy-card {
background-color: #f9f9f9;
padding: 15px;
border-radius: 5px;
margin-bottom: 20px;
border: solid 2px black;
}

.filter{
width: 210px;
font-size: 20px;
display: flex;
align-items: flex-start;
}

.policy{
color: #154FBF;
font-size: 20px;
display: flex;
align-items: flex-start;
list-style-type: circle;
}

.policy ul {
  list-style-type: circle;
}

.policy li::marker{
  background-color: #000;
}
.nav-item {
  cursor: pointer;
  text-align: center;
  background-color: none;
  width: 100%;
}

.policy-selected-li{
  list-style-type: disc;
}

.policy-selected-li::marker{
  list-style-type: disc;
}

.vehicle-card {
  border: 1px solid rgb(24, 16, 169);
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: auto;
  position: relative;
  transition: background-color 0.3s ease;
  background-color: #fff;
}

  .control-arrow{

    color: #154FBF;
  }

  .dash-heading{
    display: block;
  }


  .vehicle-head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    align-items: center;
  }

  /* Style for left column items */
  .vehicle-head .left-column {
    text-align: left;
  }
  
  /* Style for right column items */
  .vehicle-head .right-column {
    text-align: right;
  }
  
  .vehicle-head hr {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .item-heading {
    font-size: 28px;
    margin: 0;
    color: #17258a;
  }

  .bkimg{
    width: 80px;
    height: auto;
  }

  .loading{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .boxes {
    height: 32px;
    width: 32px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    margin-top: 32px;
    -webkit-transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}
.boxes .box {
    width: 32px;
    height: 32px;
    top: 0px;
    left: 0;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}



.boxes .box:nth-child(1) {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-animation: box1 1s linear infinite;
    animation: box1 1s linear infinite;
}
.boxes .box:nth-child(2) {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-animation: box2 1s linear infinite;
    animation: box2 1s linear infinite;
}
.boxes .box:nth-child(3) {
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
    -webkit-animation: box3 1s linear infinite;
    animation: box3 1s linear infinite;
}
.boxes .box:nth-child(4) {
    -webkit-transform: translate(200%, 0);
    transform: translate(200%, 0);
    -webkit-animation: box4 1s linear infinite;
    animation: box4 1s linear infinite;
}



.boxes .box > div {
    background: #5C8DF6;
    --translateZ: 15.5px;
    --rotateY: 0deg;
    --rotateX: 0deg;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #5C8DF6;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    -webkit-transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
    transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}

.boxes .box > div:nth-child(1) {
    top: 0;
    left: 0;
    background: #5C8DF6;
}
.boxes .box > div:nth-child(2) {
    background: #145af2;
    right: 0;
    --rotateY: 90deg;
}
.boxes .box > div:nth-child(3) {
    background: #447cf5;
    --rotateX: -90deg;
}
.boxes .box > div:nth-child(4) {
    background: #DBE3F4;
    top: 0;
    left: 0;
    --translateZ: -90px;
}


@keyframes box1 {
    0%,
    50% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(200%, 0);
    }
}

@keyframes box2 {
    0%{
        transform: translate(0, 100%);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

@keyframes box3 {
    0%,
    50% {
        transform: translate(100%, 100%);
    }
    100% {
        transform: translate(0, 100%);
    }
}

@keyframes box4 {
    0%{
        transform: translate(200%, 0);
    }
    50% {
        transform: translate(200%, 100%);
    }
    100% {
        transform: translate(100%, 100%);
    }
}

.section-card{
  width: 200px;
  border: solid black 3px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.94);
  margin: 2px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}

.section-card:hover{
  transform: translateY(-4px);
  width: 200px;
  border: solid black 3px;
  border-radius: 4px;
  background-color: white;
  margin: 2px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 20px 0px #7aa6e4;
}

 

.section-card img {
  width: 150px !important;
  height: 150px !important;
}

 

.section-card button{
  background-color:rgb(2, 17, 127);
  color: white;
  border: black 2px solid;
  border-radius: 10px;
  align-items: center;
  height: fit-content;
  flex-shrink: 0;
  display:block;
  padding: 10px;
  margin: 10px ;
  width:fit-content;
  box-shadow: none;
}

.section-card:hover button{
  background-color:rgb(2, 17, 127);
  color: white;
  border: black 2px solid;
  border-radius: 10px;
  align-items: center;
  height: fit-content;
  flex-shrink: 0;
  display:block;
  padding: 10px;
  margin: 10px ;
  width:fit-content;
  box-shadow: none;
  box-shadow: 0 8px 20px 0px #7aa6e4;
}

.section-card-container {
    display: flex;
    align-content: center;
    justify-content: center;
}
.section-card-container div{
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.valuation-icon {
  margin: auto;
}

.arrow-right {
  display: block;
  margin: 30px auto;
  width: 25px;
  height: 25px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(135deg);
}

.gc-card {
  border: solid 3px black;
  border-radius: 4px;
  width: 400px;
  height: 200px;
  padding: 16px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Changed from justify-items */
  background-color: rgba(255, 255, 255, 0.859);
}

.gc-card:hover {
  transform: translateY(-4px);
  border: solid 3px black;
  border-radius: 4px;
  width: 400px;
  height: 200px;
  padding: 16px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Changed from justify-items */
  background-color: white;
}

.gc-card img {
  width: 150px !important;
  height: 150px !important;
  margin: 4px;
}

.policy-other-cards {
  display: flex; /* Use flex to display items side by side */
  justify-content: center;
  width: 100%;
  margin-top: 16px;
  background-color: #ffffff31;
}

.pc-item {
  border: 2px solid black;
  border-radius: 4px;
  padding: 8px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.policy-details {
  margin-right: 20px;
}

.policy-details h1 {
  font-size: 50px;
  color: #154FBF;
}

.policy-details p {
  font-size: 24px;
  color: #3d4149;
  font-style: italic;
}

.policy-img-2 {
  height: 100%;
  width: 300px;
  justify-content: flex-end;
  margin: 4px;
}