.app-container {
display: flex;
flex-direction: row;
height: 100%;
background-color: #ffffff;
}

.carousel{
 background-color: #ebdfdf; 
}

.main-content {
flex: 1;
margin-right: auto;

}



.right-sidebar {

flex: 0 0 250px;

padding: 20px;

background-color: rgba(234, 236, 251, 0.658);
}

.filter {

 
  max-height: 300px;
  overflow: auto; 

  }
.card {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    width: 100%;
    transition: background-color 5s ease;
    padding: 10px;
    margin: 10px;
    width: 85%;
    position: relative;
    transition: background-color 0.3s ease;
    background-color: rgb(255, 255, 255);
  }

.card-content{
  width: 100%;
  
}

  
  .text-container{
  display:flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}
 
  .top-left {
    position: absolute;
    top: 40px;
    left: 16px;
    font-size: 50px;
    color: #154FBF;
  }
  
  .icon{
    font-size: 30px;
  }
  .top {
    position: absolute;
    top: 30px;
    left: 16px;
    font-size: 24px;
  }
  
  .policy-img {
    width: 100%;
    height: 10px;
    border-radius: 4px;
  }

  .cards-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
    transition: transform 0.3s ease;
  }
  

.text-container{
display:flex;
justify-content: space-between;
}

.card:hover{
box-shadow: 0 8px 20px 10px #668cda;
}

.top-left {
position: absolute;
top: 40px;
left: 16px;
font-size: 50px;
color: #154FBF;
}

.top {
position: absolute;
top: 30px;
left: 16px;
font-size: 24px;
}

.card-content {
position: relative;
}

.policy-img {
width: 100%;
height: 10px;
border-radius: 4px;
}

.cards-container{
margin-left: 5%;
display: flex;
transition: transform 0.3s ease;

}


.cover-layout{
width: 75%;
}

.cheading{
font-size: larger;
}

.carousel {
  border-right-color: #0c3b98;
  border-right-width: 10px;
  background-color: #e4ecfe;

}

button{
  background-color:#ffffff;
  color: rgb(2, 17, 127);
  border: none;
  border-radius: 10px;
  align-items: center;
  height: fit-content;
  flex-shrink: 0;
  display:block;
  padding: 10px;
  margin: 10px ;
  border-top-width: 10px;
  width:fit-content;
}
.card,
.broker-contact-card,
.policy-card,
button{
  box-shadow: 0 8px 20px 0px #7aa6e4;
}

.cover-layout{
display: grid;
grid-template-columns: repeat(4, 1fr); /* 4 columns */
grid-auto-rows: auto; /* Automatic row sizing based on content */
grid-gap: 10px; /* Adjust the gap between items */
max-width: 100%; /* Ensure the container fits its parent */
margin: 0 auto; 
}


.cover-layout:hover .carousel {
  filter: blur(3px);
  opacity: .5;
  transform: scale(.98);
  box-shadow: none;
}
  
.cover-layout:hover .carousel:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  color: rgb(0, 0, 0);
}

.broker-contact-card {
background-color: #f9f9f9;
padding: 15px;
border-radius: 5px;
}


.policy-card {
background-color: #f9f9f9;
padding: 15px;
border-radius: 5px;
margin-bottom: 20px;
}

.filter{
width: 210px;
margin-left: 20px;
font-size: 20px;
}

.policy{
color: #154FBF;
font-size: 20px;
}

.vehicle-card {
  border: 1px solid rgb(24, 16, 169);
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: auto;
  position: relative;
  transition: background-color 0.3s ease;
  background-color: #fff;
}

  .control-arrow{

    color: #154FBF;
  }

  .dash-heading{
    display: block;
  }


  .vehicle-head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    align-items: center;
  }

  /* Style for left column items */
  .vehicle-head .left-column {
    text-align: left;
  }
  
  /* Style for right column items */
  .vehicle-head .right-column {
    text-align: right;
  }
  
  .vehicle-head hr {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .item-heading {
    font-size: 28px;
    margin: 0;
    color: #17258a;
  }

  .bkimg{
    width: 80px;
    height: auto;
  }

  .loading{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .boxes {
    height: 32px;
    width: 32px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    margin-top: 32px;
    -webkit-transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}
.boxes .box {
    width: 32px;
    height: 32px;
    top: 0px;
    left: 0;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}



.boxes .box:nth-child(1) {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-animation: box1 1s linear infinite;
    animation: box1 1s linear infinite;
}
.boxes .box:nth-child(2) {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-animation: box2 1s linear infinite;
    animation: box2 1s linear infinite;
}
.boxes .box:nth-child(3) {
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
    -webkit-animation: box3 1s linear infinite;
    animation: box3 1s linear infinite;
}
.boxes .box:nth-child(4) {
    -webkit-transform: translate(200%, 0);
    transform: translate(200%, 0);
    -webkit-animation: box4 1s linear infinite;
    animation: box4 1s linear infinite;
}



.boxes .box > div {
    background: #5C8DF6;
    --translateZ: 15.5px;
    --rotateY: 0deg;
    --rotateX: 0deg;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #5C8DF6;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    -webkit-transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
    transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}

.boxes .box > div:nth-child(1) {
    top: 0;
    left: 0;
    background: #5C8DF6;
}
.boxes .box > div:nth-child(2) {
    background: #145af2;
    right: 0;
    --rotateY: 90deg;
}
.boxes .box > div:nth-child(3) {
    background: #447cf5;
    --rotateX: -90deg;
}
.boxes .box > div:nth-child(4) {
    background: #DBE3F4;
    top: 0;
    left: 0;
    --translateZ: -90px;
}





@keyframes box1 {
    0%,
    50% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(200%, 0);
    }
}

@keyframes box2 {
    0%{
        transform: translate(0, 100%);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

@keyframes box3 {
    0%,
    50% {
        transform: translate(100%, 100%);
    }
    100% {
        transform: translate(0, 100%);
    }
}

@keyframes box4 {
    0%{
        transform: translate(200%, 0);
    }
    50% {
        transform: translate(200%, 100%);
    }
    100% {
        transform: translate(100%, 100%);
    }
}

.section-card{

  width: 200px;

  border: solid black 2px;

  border-radius: 4px;

  background-color: white;

  margin: 2px;

  padding: 8px;

  display: flex;

  flex-direction: column;

  align-items: center;

}

 

.section-card:hover{
  transform: translateY(-4px);
  width: 200px;
  border: solid black 2px;
  border-radius: 4px;
  background-color: white;
  margin: 2px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

 

.section-card img {
  width: 150px !important;
  height: 150px !important;
}

 

.section-card button{
  background-color:rgb(2, 17, 127);
  color: white;
  border: white 2px solid;
  border-radius: 10px;
  align-items: center;
  height: fit-content;
  flex-shrink: 0;
  display:block;
  padding: 10px;
  margin: 10px ;
  border-top-width: 10px;
  width:fit-content;
}

.arrow-right {
  display: block;
  margin: 30px auto;
  width: 25px;
  height: 25px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(135deg);
}

.gc-card {
  border: solid 2px black;
  width: 50%;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.gc-card img{
  width: 150px !important;
  height: 150px !important;
}