.app-container {
top: 0;
display: flex;
justify-content: space-between;

}

.carousel{
 background-color: #e4e4e4; 
}

.main-content {
flex: 1;

margin-right: 20px;
}

.right-sidebar {

flex: 0 0 250px;
padding: 20px;
background-color: rgba(23, 42, 217, 0.658);
}

.card {
    border: 1px solid rgb(24, 16, 169);
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    position: relative;
    transition: background-color 0.3s ease;
    background-color: rgb(255, 255, 255);
    
  }
  .separator {
    border-top: 1px solid rgb(136, 135, 135);
    margin: 20px 0; 
  }
  
  .text-container{
  display:flex;
  justify-content: space-between; 
}
  .card:hover{
    background-color: #d9dee3;
    
  }
  .top-left {
    position: absolute;
    top: 40px;
    left: 16px;
    font-size: 50px;
    color: #154FBF;
    
  }
  
  .top {
    position: absolute;
    top: 30px;
    left: 16px;
    font-size: 24px;
  }
  
 
  
  
  .policy-img {
    width: 100%;
    height: 10px;
    border-radius: 4px;
  }

  .cards-container{
 

display: grid;
    
    grid-template-columns: repeat(4, 1fr);
  width: 100%;
    transition: transform 0.3s ease;
  }

  .card-content{
 
      width: 100%;

      }

.text-container{
display:flex;
justify-content: space-between;
}
.card:hover{
background-color: #d9dee3;

}
.top-left {
position: absolute;
top: 40px;
left: 16px;
font-size: 50px;
color: #154FBF;
}

.top {
position: absolute;
top: 30px;
left: 16px;
font-size: 24px;
}

.card-content {
position: relative;
}

.policy-img {
width: 100%;
height: 10px;
border-radius: 4px;
}

.cards-container{
margin-left: 5%;
display: flex;
transition: transform 0.3s ease;
background-color: #bdbdbd;
}


.cover-layout{
display: flex;
width: 80%;
background-color: #0530ee;
}

.img-content {
background-color: #ffffff;
border-radius: 4px;
align-items: center;
height: fit-content;
flex-shrink: 0;
display:block;
border: 1px solid black;
padding: 10px;
margin: 10px ;
border-top-width: 10px;
border-color: #0b1bf8;
width:fit-content;


}

.cheading{
font-size: larger;
}

.carousel {
  border-right-color: #595f6b;
  border-right-width: 10px;
}

button{
  background-color:#202de9;
  color: #fff;
}


.cover-layout:hover .carousel {
  filter: blur(3px);
  opacity: .5;
  transform: scale(.98);
  box-shadow: none;
}
  
.cover-layout:hover .carousel:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  color: rgb(0, 0, 0);
}

.broker-contact-card {
background-color: #f9f9f9;
padding: 15px;
border-radius: 5px;
}


.policy-card {
background-color: #f9f9f9;
padding: 15px;
border-radius: 5px;
margin-bottom: 20px;
}

.filter{
width: 210px;
margin-left: 20px;
font-size: 20px;
}

.policy{
color: #154FBF;
font-size: 20px;
}

  .vehicle-card {
    border: 1px solid rgb(24, 16, 169);
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: auto;
    position: relative;
    transition: background-color 0.3s ease;
    background-color: #fff;
    
    
  }

  .control-arrow{

    color: #154FBF;
  }
