ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar {
  width: 400px;
  height: 100%;
  background-color: rgb(230, 231, 237);
  color: rgb(0, 0, 0);
  font-size: 24px;
}

.sidebar ul li a {
  display: block;
  color: rgb(13, 2, 131);
  text-decoration: none;
  padding: 10px;
}

.sidebar ul li ul {
  display: none;
}

.sidebar ul li:hover ul {
  display: block;
}

.sidebar ul li ul li a {
  background-color: rgb(207, 204, 204);
}

.main-content {
    padding: 0px 10px;
    height: 100%;
    width: 100%;
  }
