ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar {
  width: 250px;
  height: max;
  background-color: rgb(230, 231, 237);
  color: rgb(0, 0, 0);
  font-size: 24px;
  align-content: center;
  padding: 10px;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.sidebar ul li a {
  display: block;
  color: rgb(13, 2, 131);
  text-decoration: none;
  padding: 10px;
}

.sidebar ul li {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  margin: 5px;
}

.sidebar ul li:hover ul {
  display: block;
}

.sidebar ul li ul li a {
  background-color: rgb(207, 204, 204);
}

.main-content {
    padding: 0px 10px;
    height: 100%;
    width: 100%;
  }

  .sidebar-icon {
    margin: 2px;
  }