.sidebar {
  width: 250px;
  height: max;
  background-color:  #ffffff;
  color: rgb(0, 0, 0);
  font-size: 24px;
  align-content: center;
  padding: 10px;
  border-right: solid 2px black
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.sidebar ul li a {
  display: block;
  color: rgb(12, 22, 156);
  text-decoration: none;
  padding: 10px;
}

.sidebar ul li a:hover{
  color: white;
background-color: rgb(18, 15, 173) ;
width: 100%;

}
.sidebar ul li a:active{
  color: rgb(255, 255, 255);
background-color: rgb(2, 81, 252) ;

}
.sidebar ul li {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  margin: 5px;
}

.sidebar ul li:hover ul {
  display: block;
  background-color: rgb(8, 8, 95) ;
  color: white;
}

.sidebar ul li ul li a {
  background-color: rgb(207, 204, 204);
}

.main-content {
    padding: 0px 10px;
    height: 100%;
    width: 100%;
  }

  .sidebar-icon {
    margin: 2px;
  }